<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Company</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td>{{item.id}}</td>
        <td>{{item.pname}}</td>
        <td>{{item.model}}</td>
        <td>{{item.price}}</td>
        <td><i class="far fa-edit"></i></td>
      </tr>
    </tbody>
  </table>
  <input type="button" value="Logout" (click)="logout()">
  
</div>