
<form [formGroup]="addUser" (ngSubmit)="collectUserData()">
    <div class="container">
        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" formControlName="fname" placeholder="first name">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lname" placeholder="last name">
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobile" placeholder="mobile number">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address" placeholder="city">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/signin']">Back</button>
    </div>
</form>































<!-- <div class="container">
    <form [formGroup]="addUser" (ngSubmit)="collectUserData()">
        <br>
        <div class="form-group row">
            <div class="col">
                <!-- <label>First name</label> -->
              <!--   <input type="text" class="form-control" formControlName="fname" placeholder="first name">
            </div>
            <div class="col">
                <!-- <label>Last Name</label> -->
              <!--   <input type="text" class="form-control" formControlName="lname" placeholder="last name">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col align-self-center">
                <!-- <label for="exampleInputEmail1">Email address</label> -->
               <!--  <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
                    placeholder="Enter email">
            </div>
            <div class="col">
                <!-- <label for="exampleInputPassword1">Password</label> -->
              <!--   <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col">
                <!-- <label>Mobile Number</label> -->
               <!--  <input type="text" class="form-control" formControlName="mobile" placeholder="mobile number">
            </div>
            <div class="col">
                <!-- <label>Address</label> -->
               <!--  <input type="text" class="form-control" formControlName="address" placeholder="city">
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary" [routerLink]="['/signin']">Submit</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/signin']">Back</button>
    </form>
</div> -->
<!-- <h1>Enter Your Details</h1>
<div>
    <form #newUserRef="ngForm" (ngSubmit)="registerUser(newUserRef.value)">
        <Label class="text-primary text-bold" style="font-size: 20px;">First Name</Label>
            <input type="text" name="first-name" ngmodel>
        <Label class="text-primary text-bold" style="font-size: 20px;">Last Name</Label>
            <input type="text" name="last-name" ngmodel>
        <br>
        
        <Label class="text-primary text-bold" style="font-size: 20px;">User Name</Label>
            <input type="text" name="user" ngmodel>
        <Label class="text-primary text-bold" style="font-size: 20px;">Password</Label>
            <input type="password" name="pass" ngmodel>
        <br>
        
        <Label class="text-primary text-bold" style="font-size: 20px;">Mobile Number</Label>
            <input type="number" name="cell" ngmodel>
        <Label class="text-primary text-bold" style="font-size: 20px;">Email id</Label>
            <input type="text" name="email" ngmodel>
        <br><br>
        
        <input type="submit" value="submit">
        
        <button class="nav-item nav-link-edit" [routerLink]="['/signin']">Back</button >
    
        <!-- <input type="button" value="Back" action="home"/> 
    
    </form>
</div> -->